<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-training-studio.css">
    <title>Document</title>
    <style>
        body{
            background-color : rgb(74, 74, 74);
            color : white;
            height:100vh;
        }
    </style>
</head>
<body>
    {{>navbar}}
    <br><br><br>
    <h1>Welcome to LoggedIn.hbs page</h1>
    <p>welcome {{firstname}} {{lastname}}</p>
    <p>Your Email is - {{email}}</p>
    <p>Little privacy.... Your password is - {{password}}</p>
</body>
</html>